<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Project{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" >

</head>
<body>
  <nav>
    {% if session.get('is_logged_in') %}
    <div class="logo">
      <a href="{{url_for('dashboard')}}">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
      </a>     
    </div>
    
   
    <div class="feedback-icon">
      <a href="{{url_for('feedback')}}">
        <img src="{{url_for('static', filename='img/feedback.svg')}}" alt="feedback icon">
      <span class="tooltip">Feedback</span>
      </a>
    </div>

    <div class="new-upload">
      <a href="{{url_for('upload')}}">
        <img src="{{url_for('static', filename='img/upload.svg')}}" alt="new-upload">
      <span class="tooltip">New Upload</span>
      </a>
    </div>

    <div class="user-icon">
      <img src="{{url_for('static', filename='img/profile.svg')}}" alt="user icon">
      <span class="tooltip">Profile</span>
    </div>
    
    <div class="logout-icon">
      <a href="{{url_for('logout')}}">
        <img src="{{url_for('static', filename='img/logout.svg')}}" alt="logout">
        <span class="tooltip">Logout/span>
      </a>
    </div>
    {% else %}
    <div class="logo">
      <a href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
      </a>     
    </div>
    {% endif %}
  </nav>

  <section class="content">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
    
  </section>
  <footer>
    <div id="footer">
      <p>This is all for educational purpose only.</p>
    </div> 
  </footer>
</body>
  
</html>
<!--
<div class="topnav">
    <a class="active" href="{{url_for('index')}}">Home</a>
    <a href="feedback" href="{{url_for('feedback')}}">Feedback</a>
  </div>
  
   <h1>Welcome to Home Page</h1>

  {% if not is_logged_in %}
   <a href="{{url_for('login')}}">
    <button>Login</button>
   </a>
   <a href="{{url_for('register')}}">
    <button>Register</button>
   </a>
   <br />
   {% else %}
  <a href="{{url_for('logout')}}">
    <button>Logout</button>
  </a>
  {% endif %}
</html>
-->
