{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
{% if session.get('is_logged_in') %}
<div class="upload-content">
  <div class="upload-box">
    <div class="upload-header">
      <img src="{{url_for('static', filename='img/upload.svg')}}" alt="file">
      <h2>Upload</h2>
    </div>
    
    <form method="post" class="upload-form" enctype="multipart/form-data" action="{{url_for('upload')}}"> 
      <input type="text" name="patient-name" placeholder="Patient Name" required>
      <input type="date" name="dob" placeholder="Date of Birth" required>
      <input type="text" name="hospital-number" placeholder="Hospital Number" required>
      <input type="text" name="NHS" placeholder="NHS">
      <input type="file" name="file" class="hidden-input">
      <button type="submit" class="btn-submit">Upload</button> 
    </form>
  </div>
</div>
  {% endif %}
{% endblock %}